@mixin responsiveBtn() {
    @include breakpoint(xs) {
        width: 356px;
        height: 66px;
        p {
            -webkit-text-stroke-width: 0.8px;
            margin-top: -4px;
            @include font-size(26);
        }
    }
    @include breakpoint(phone_xxxs) {
        width: 308px;
        height: 66px;
        p {
            -webkit-text-stroke-width: 0.8px;
            margin-top: -12px;
            @include font-size(26);
        }
    }
}

@mixin responsiveRarity() {
    @include breakpoint(lg_max) {
        width: 1000px;
        grid-template-columns: repeat(2, 1fr);
        padding: 51px 188px 42px 189px;
        .attributes__column {
            display: flex;
            .body__goober--randomizer {
                .goober__ilustration, .goober__ilustration video {
                    width: 150px;
                }
            }
            .body__goober--attributes {
                width: 261px;
                height: 323px;
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 40px 25px 25px 25px;
                margin-left: 10px;
                .dropdown__attributes {
                    width: 182px;
                    .dropdown__title {
                        @include font-size(16);
                        line-height: 22px;
                    }
                }
            }
        }
    }
    @include breakpoint(md_max) {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        height: 587px;
        background-size: cover;
        background-position-x: -146px;
        padding: 37px;
        gap: 20px;
        .attributes__column {
            display: flex;
            align-items: center;
            justify-content: center;
            .body__goober--randomizer {
                .goober__ilustration, .goober__ilustration video {
                    width: 225px;
                }
            }
            .body__goober--attributes {
                width: 242px;
                height: 301px;
                background-size: contain;
                background-repeat: no-repeat;
                align-items: center;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 30px;
                margin-left: 10px;
                .dropdown__attributes {
                    width: 152px;
                    .dropdown__title {
                        @include font-size(16);
                        line-height: 20px;
                    }
                }
            }
        }
        .body__goober--rarities {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: -35px;
            gap: 9px;
            align-items: center;
            justify-content: center;
            .action__btn {
                width: 285px;
                height: 64px;
                margin: 0;
                background-size: contain;
                p {
                    @include font-size(24);
                    -webkit-text-stroke-width: 2px;
                    line-height: 30px;
                }
            }
            .super__uber__rare__btn {
                margin-left: 5px;
                width: 343px;
            }
        }          
    }
    @include breakpoint(xs) {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        height: 510px;
        background-size: cover;
        background-position-x: -146px;
        padding: 40px;
        gap: 20px;
        .attributes__column {
            display: flex;
            align-items: center;
            justify-content: center;
            .body__goober--randomizer {
                .goober__ilustration, .goober__ilustration video {
                    width: 225px;
                }
            }
            .body__goober--attributes {
                width: 242px;
                height: 301px;
                background-size: contain;
                background-repeat: no-repeat;
                align-items: center;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 30px;
                margin-left: 10px;
                .dropdown__attributes {
                    width: 152px;
                    .dropdown__title {
                        @include font-size(16);
                        line-height: 20px;
                    }
                }
            }
        }
        .body__goober--rarities {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: -35px;
            gap: 7px;
            align-items: center;
            justify-content: center;
            .action__btn {
                width: 197px;
                height: 46px;
                margin: 0;
                background-size: contain;
                p {
                    @include font-size(16);
                    -webkit-text-stroke-width: .7px;
                }
            }
            .super__uber__rare__btn {
                height: 44px;
                width: 221px;
            }
        }          
    }
    // MAX 568PX
    @include breakpoint(phone_xs) {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        height: 510px;
        background-size: cover;
        background-position-x: -146px;
        padding: 40px;
        gap: 20px;
        .attributes__column {
            display: flex;
            align-items: center;
            justify-content: center;
            .body__goober--randomizer {
                .goober__ilustration, .goober__ilustration video {
                    width: 125px;
                }
            }
            .body__goober--attributes {
                width: 218px;
                height: 289px;
                background-size: contain;
                background-repeat: no-repeat;
                align-items: center;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 23px 25px 40px 25px;
                margin-left: 10px;
                .dropdown__attributes {
                    width: 127px;
                    .dropdown__title {
                        @include font-size(14);
                        line-height: 18px;
                    }
                }
            }
        }
        .body__goober--rarities {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: -35px;
            gap: 7px;
            align-items: center;
            justify-content: center;
            .action__btn {
                width: 171px;
                height: 40px;
                margin: 0;
                background-size: contain;
                p {
                    @include font-size(14);
                    -webkit-text-stroke-width: .5px;
                }
            }
            .super__uber__rare__btn {
                height: 40px;
                width: 200px;
            }
        }        
    }
    // MAX 395PX
    @include breakpoint(phone_xxxs) {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        height: 510px;
        background-size: cover;
        background-position-x: -146px;
        padding: 40px;
        gap: 20px;
        .attributes__column {
            display: flex;
            align-items: center;
            justify-content: center;
            .body__goober--randomizer {
                .goober__ilustration, .goober__ilustration video {
                    width: 125px;
                }
            }
            .body__goober--attributes {
                width: 155px;
                height: 288px;
                background-size: cover;
                background-repeat: no-repeat;
                align-items: center;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                padding: 40px 25px 25px 25px;
                margin-left: 10px;
                .dropdown__attributes {
                    width: 127px;
                    .dropdown__title {
                        @include font-size(14);
                        line-height: 18px;
                    }
                }
            }
        }
        .body__goober--rarities {
            display: grid;
            grid-template-columns: auto auto;
            margin-top: -35px;
            gap: 7px;
            align-items: center;
            justify-content: center;
            .action__btn {
                width: 142px;
                height: 34px;
                margin: 0;
                background-size: contain;
                p {
                    @include font-size(14);
                    -webkit-text-stroke-width: .5px;
                }
            }
            .super__uber__rare__btn {
                height: 33px;
                width: 163px;
            }
        }
    }
}

@mixin responsiveMintHome() {
    @include breakpoint(md_max) {
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        '. mint__ilustration mint__ilustration .'
        '. clu__mint eth__mint .';
        gap: 20px;
        margin-bottom: 60px;
        .goober__ilustration {
            max-width: 282px;
            margin: auto;
        }
        .mint__action {
            .mint__btn {
                width: 256px !important;
                height: 60px !important;
                p {
                    font-size: 16px !important;
                    -webkit-text-stroke-width: 0.5px !important;
                }
            }
        }
        .claim__btn {
            width: 256px !important;
            height: 60px !important;
            p {
                font-size: 16px !important;
                -webkit-text-stroke-width: 0.5px !important;
            }    
        }
    }
    @include breakpoint(phone_xs) {
        .mint__action {
            .mint__btn {
                width: 206px !important;
                height: 48px !important;
                p {
                    font-size: 16px !important;
                    -webkit-text-stroke-width: 0.5px !important;
                }
            }
        }
        .claim__btn {
            width: 256px !important;
            height: 60px !important;
            p {
                font-size: 16px !important;
                -webkit-text-stroke-width: 0.5px !important;
            }
        }
    }
    @include breakpoint(phone_xxs) {
        .mint__action {
            .mint__btn {
                width: 164px !important;
                height: 37px !important;
                p {
                    font-size: 16px !important;
                    -webkit-text-stroke-width: 0.5px !important;
                }
            }
        }
        .claim__btn {
            width: 256px !important;
            height: 60px !important;
            p {
                font-size: 16px !important;
                -webkit-text-stroke-width: 0.5px !important;
            }
        }
    }
    @include breakpoint(phone_xxxs) {
        .goober__ilustration {
            max-width: 225px;
        }
        .mint__action {
            .mint__btn {
                width: 137px !important;
                height: 32px !important;
                p {
                    font-size: 14px !important;
                    -webkit-text-stroke-width: 0.5px !important;
                }
            }
        }
        .claim__btn {
            width: 256px !important;
            height: 60px !important;
            p {
                font-size: 14px !important;
                -webkit-text-stroke-width: 0.5px !important;
            }
        }
    }
}

@mixin responsiveMintIlustrations() {
    @include breakpoint(xs) { 
        &::before {
            width: 100%;
            height: 447px;
            top: 0;
        }
        &::after {
            width: 208px;
            height: 621px;
        }
    }
}